<ul>
  <li>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  </li>
  <li>
    <a routerLink="/posts" routerLinkActive="active">Post List</a>
  </li>
  <li>
    <a routerLink="/template-form" routerLinkActive="active">Template driven Form</a>
  </li>
  <li>
    <a routerLink="/template-form-javi" routerLinkActive="active">Template driven Form Javi</a>
  </li>

  <li>
    <a routerLink="/reactive-form" routerLinkActive="active">Reactive driven Form</a>
  </li>


</ul>
